html,
body,
#root {
  height: 100%;
  font-family: 'Montserrat';
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat {
  padding: 20px 10px;
  background-color: #353847;
  border-radius: 15px;
  text-align: center;
}

.window-messages {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  height: 500px;
}

input{
  padding: 10px 5px;
  border: 1px solid #42a1f5;
  background-color: #2D2F3D;
  border-radius: 7px;
  font-family: 'Montserrat';
  font-size: 20px;
  outline:none;
  margin-top: 20px;
  color: white;
}

span {
  background-color: #2D2F3D;
  color: white;
  padding: 7px 12px;
  margin-top: 10px;
  border-radius: 5px;
  width: min-content;
  max-width: 230px;
  white-space: pre-line;

}